<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bst-prcs [Get the BST prices]</title>
    <form action="/admin/aboutUs" method="post"></form>
    <link rel="shortcut icon" href="/imagenes/asd3.jpg" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" href="/imagenes/asd3.jpg" type="image/x-icon">
  
</head>
<body>
    
    <header class="encabezado-home">
        <nav>
        <a href="http://localhost:3000/admin/login">Home</a> 
          <a href="http://localhost:3000/admin/aboutUs">About US</a>
          <a href="http://localhost:3000/admin/services">Services</a>
          <a href="http://localhost:3001/contacto">Contact US</a>
          <a href="http://localhost:3001/novedades">Latest News</a>

        </nav>
        <section class="text-header">
            <h1>Get the bst-prcs</h1>
            <h2>About US</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgb(255, 255, 255);"></path></svg></div>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">Frequent questions </h2>
            <div class="contenedor-sobre-nosotros">
                
                <div class="contenido-textos">
                    <h3><span>1</span>What is our Goal</h3>
                    <p>bst-prcs goal is to SAVE your valuable time, recommending you the BST products at the BST prices you will find. (certified sellers and high rating products) </p>
                    <h3><span>2</span>What is the meaning of the name bst-prcs?</h3>
                    <p>The meaning of this name is BEST (bst) PRICES (prcs) because here you will find the best products at the best prices</p>
                    <h3><span>3</span>Why the page is not perfect?</h3>
                    <p>This website is currently in developing by only 1 person (the owner) so be kind :)</p>
                    <h3><span>4</span>When was this website created</h3>
                    <p>This Website was created on September 4, 2022  </p>
                    <h3><span>5</span>Is it safe to buy on this page?</h3>
                    <p>This page has an SSL certificate that protects it from viruses and malware so feel safe!</p>
        </div>
            </div>

        </section>
        <section class="portafolio">
            <div class="contenedor">
                <h2 class="titulo">Follow US</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="/imagenes/insta2.jpg" alt="">
                        <button onclick="location.href='https://www.instagram.com/bst_prcs/'">
                        <div class="hover-galeria">
                            <img src="/imagenes/Instagram-Logo-PNG-Free-Download-1.png" alt="">
                            <p>BST_PRCS_SHOP</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="/imagenes/twitter-logo-mundocuentas.png" alt="">
                        <button onclick="location.href='https://twitter.com/BST_PRCS_SHOP'">
                        <div class="hover-galeria">
                            <img src="/imagenes/Twitter-Transparent-PNG.png" alt="">
                            <p>@BST_PRCS_SHOP</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="/imagenes/gmail-45-700x393.jpg" alt="">
                        <button onclick="location.href='https://www.google.com/intl/es-419/gmail/about/'">
                        <div class="hover-galeria">
                            <img src="/imagenes/Email-PNG-Clipart.png" alt="">
                            <p>business@bst-prcs.com</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="/imagenes/yt_1200.png" alt="">
                        <button onclick="location.href='https://www.youtube.com/channel/UCpHXDpYV7d0iZtH55k4CTdg'">
                        <div class="hover-galeria">
                            <img src="/imagenes/YouTube-Play-Button-PNG-Free-Download.png" alt="">
                            <p>bst-prcs / Official</p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </section>
        </section>
<section class="info contenedor">
    <h2 class="title-how">FOLLOW US!</h2>
    <div class="cards">
        <div class="card">
            <img src="/imagenes/asd34.jpg" alt="">
            <div class="contenido-text-card">
                
                <p>follow our social medias to see the BST daily discounts</p>
                
            </div>
        </div>
    </div>
</section>
<section class="about-services">
    <div class="contenedor">
        <h2 class="title-services">Our Services</h2>
        <div class="services-cont">
            <div class="services-ind">
                <img src="/imagenes/747305.png" alt=""> 
                <h3>Feel safe</h3>
                <p> All the products recomended in this website are going to be from a certified seller, with high reputacion.
                </p>
                
            </div>
            <div class="services-ind">
                <img src="/imagenes/clock-png-25770 real.png" alt="serices"> 
                <h3>Save your time</h3>
                <p>We search the BEST products for you, so you can save time
                </p>
                
            </div>
            <div class="services-ind">
                <img src="/imagenes/price-icon-7323.png" alt="services"> 
                <h3>The best products, only for you!</h3>
                <p>Our goal is to find the best quality products at the BEST prices
                </p>
                
            </div>
        </div>
    </div>
</section>
    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Youtube</h4>
                <p>bst-prcs / Official</p>
            </div>
            <div class="content-foo">
                <h4>Instagram</h4>
                <p>BST_PRCS_SHOP</p>
            </div>
            <div class="content-foo">
                <h4>Twitter</h4>
                <p>@BST_PRCS_SHOP</p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>business@bst-prcs.com</p>
            </div>
            <div class="content-foo">
                <h4>Location</h4>
                <p>United states</p>
            </div>
        </div>
        <h2 class="titulo-final">&copy; bst-prcs.com</h2>
    </footer>
</body>
</html>