<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bst-prcs [Get the BST prices]</title>
    <form action="/admin/nvidia" method="post"></form>
    <link rel="shortcut icon" href="/imagenes/asd3.jpg" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" href="/imagenes/asd3.jpg" type="image/x-icon">
</head>
<body>
    
    
    <header class="encabezado">
        <nav>
         <a href="http://localhost:3000/admin/login">Home</a> 
          <a href="http://localhost:3000/admin/aboutUs">About US</a>
          <a href="http://localhost:3000/admin/services">Services</a>
          <a href="http://localhost:3001/contacto">Contact US</a>
          <a href="http://localhost:3001/novedades">Latest News</a>

        </nav>
        <section class="text-header">
            <h1>Get the bst-prcs</h1>
            <h2>Only here...</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgb(255, 255, 255);"></path></svg></div>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">The BST Products </h2>
            <div class="contenedor-sobre-nosotros">
                <img src="/imagenes/plantaclean.webp" alt="" class="imagen-about-us">
                <div class="contenido-textos">
                    <h3><span>1</span>What is our Goal</h3>
                    <p>bst-prcs goal is to SAVE your valuable time, recommending you the BST products at the BST prices you will find. (certified sellers and high rating products) </p>
                    <h3><span>2</span>What is the meaning of the name bst-prcs?</h3>
                    <p>The meaning of this name is BEST (bst) PRICES (prcs) because here you will find the best products at the best prices</p>
        </div>
            </div>

        </section>
        <section class="portafolio">
            <div class="contenedor">
                <h2 class="titulo">RTX GPUS</h2>
                <div class="galeria-port">
                    <iframe width="1223" height="688" src="https://www.youtube.com/embed/7QeoZY4tf9I?list=PL6fFVy4icRcLvzec2OoUAghUXn1epSXen" title="GeForce RTX 3080 | 2nd Gen RTX | The Ultimate Play" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="imagen-port">
                        <img src="/imagenes/rtx-3090-20200901-5.jpg" alt="msi">
                        <button onclick="location.href='https://amzn.to/3wyCxw1'">
                        <div class="hover-galeria">
                            <img src="/imagenes/msi-logo-7.png" alt="msi-logo">
                            <p>RTX 3090TI MSI GAMING X TRIO</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="/imagenes/GeForce_RTX_30_Series_10.jpg" alt="msi">
                        <button onclick="location.href='https://www.amazon.com/-/es/GeForce-RTX-3090-24G-384-Bit/dp/B08HR9D2JS/ref=sr_1_16?__mk_es_US=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=74O23K2GYTLI&keywords=rtx+3090+gaming+x+trio&qid=1661312594&sprefix=rtx+3090+gaming+x+trio%2Caps%2C221&sr=8-16'">
                        <div class="hover-galeria">
                            <img src="/imagenes/msi-logo-7.png" alt="msi-logo">
                            <p>RTX 3090 MSI VENTUS 3X</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="/imagenes/asusrogstrixrtx3080-1658332931218.jpg" alt="asus">
                        <button onclick="location.href='https://www.amazon.com/-/es/ASUS-Strix-NVIDIA-GeForce-3080/dp/B09QH9NT3V/ref=sr_1_1?__mk_es_US=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=20Z96TRB1LDIJ&keywords=rtx+3080+rog+strix&qid=1661312963&sprefix=rtx+3080+rog+strix%2Caps%2C207&sr=8-1'">
                        <div class="hover-galeria">
                            <img src="/imagenes/Asus-Logo.png" alt="asus-logo">
                            <p>RTX 3080 ASUS ROG STRIX</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="/imagenes/kv-cover.png" alt="asus">
                        <button onclick="location.href='https://www.amazon.com/-/es/GeForce-DisplayPort-rodamientos-ventilador-certificaci%C3%B3n/dp/B099ZC8H3G/ref=sr_1_1?crid=2BFN7ZOZ577IZ&keywords=rtx+3080+tuf+gaming&qid=1661312998&sprefix=rtx+3080+tuf%2Caps%2C294&sr=8-1'">
                        <div class="hover-galeria">
                            <img src="/imagenes/Asus-Logo.png" alt="asus-logo">
                            <p>RTX 3080 ASUS TUF GAMING</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="/imagenes/evga 2.jpg" alt="evga">
                        <button onclick="location.href='https://www.amazon.com/-/es/GeForce-Gaming-08G-P5-3767-KL-tecnolog%C3%ADa-trasera/dp/B097CLCXDX/ref=sr_1_1?__mk_es_US=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=65T7PEBSEJTO&keywords=rtx+3070+evga+ftw3+ultra&qid=1661313078&sprefix=rtx+3070+evga+ftw3+ultr%2Caps%2C222&sr=8-1'">
                        <div class="hover-galeria">
                            <img src="/imagenes/evga-logo si.png" alt="evga-logo">
                            <p>RTX 3070 EVGA FTW3 ULTRA</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="/imagenes/FIX.jpg" alt="evga">
                        <button onclick="location.href='https://www.amazon.com/-/es/GeForce-08G-P5-3785-KL-Refrigeraci%C3%B3n-trasera-met%C3%A1lica/dp/B097Z8YWW1/ref=sr_1_1?crid=2M3UUY1OSXT5I&keywords=rtx+3070+evga+xc3+ultra&qid=1661313196&sprefix=rtx+3070+evga+xc%2Caps%2C216&sr=8-1'">
                        <div class="hover-galeria">
                            <img src="/imagenes/evga-logo si.png" alt="evga-logo">
                            <p>RTX 3070ti EVGA XC3 ULTRA</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="/imagenes/kv-xs.jpg" alt="msi">
                        <button onclick="location.href='https://www.amazon.com/-/es/GeForce-RTX-3060-OC-12G/dp/B08WPRMVWB/ref=sr_1_18?__mk_es_US=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=2LP1S3LDVSM6N&keywords=rtx+3060&qid=1661313321&sprefix=rtx+3060%2Caps%2C216&sr=8-18'">
                        <div class="hover-galeria">
                            <img src="/imagenes/msi-logo-7.png" alt="msi-logo">
                            <p>RTX 3060 MSI VENTUS 2X</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                       <img src="/imagenes/zotac.jpg" alt="zotac">
                       <button onclick="location.href='https://www.amazon.com/-/es/refrigeraci%C3%B3n-IceStorm-ventilador-congelado-ZT-A30600H-10M/dp/B08W8DGK3X/ref=sr_1_16?__mk_es_US=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=2TMEJM6C013PL&keywords=rtx+3060+zotac&qid=1661311668&sprefix=rtx+3060+zotac%2Caps%2C215&sr=8-16'">
                        <div class="hover-galeria">
                            <img src="/imagenes/2560px-Logo_of_Zotac_International.svg.png" alt="zotac-logo">
                            <p>RTX 3060 ZOTAC TWIN EDGE</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="info contenedor">
            <h2 class="title-how">FOLLOW US!</h2>
            <div class="cards">
                <div class="card">
                    <img src="/imagenes/asd34.jpg" alt="cards">
                    <div class="contenido-text-card">
                        
                        <p>Follow our social medias to see the BST daily discounts</p>
            </div>
        </div>
    </div>
</section>
<section class="about-services">
    <div class="contenedor">
        <h2 class="title-services">Our Services</h2>
        <div class="services-cont">
            <div class="services-ind">
                <img src="/imagenes/747305.png" alt="services"> 
                <h3>Feel safe</h3>
                <p> All the products recomended in this website are going to be from a certified seller, with high reputacion.
                </p>
                
            </div>
            <div class="services-ind">
                <img src="/imagenes/clock-png-25770 real.png" alt="save your time"> 
                <h3>Save your time</h3>
                <p>We search the BEST products for you, so you can save time
                </p>
                
            </div>
            <div class="services-ind">
                <img src="/imagenes/price-icon-7323.png" alt="services"> 
                <h3>The best products, only for you!</h3>
                <p>Our goal is to find the best quality products at the BEST prices
                </p>
                
            </div>
        </div>
    </div>
</section>
    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Youtube</h4>
                <p>bst-prcs / Official</p>
            </div>
            <div class="content-foo">
                <h4>Instagram</h4>
                <p>BST_PRCS_SHOP</p>
            </div>
            <div class="content-foo">
                <h4>Twitter</h4>
                <p>@BST_PRCS_SHOP</p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>business@bst-prcs.com</p>
            </div>
            <div class="content-foo">
                <h4>Location</h4>
                <p>United states</p>
            </div>
        </div>
        <h2 class="titulo-final">&copy; bst-prcs.com</h2>
    </footer>
</body>
</html>