header{
    width: 100%;
    height: 650px;
    background: #fc00ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(181, 100%, 44%, 0.603), hsla(299, 100%, 50%, 0.61)) ;  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, hsla(181, 100%, 44%, 0.61), hsla(299, 100%, 50%, 0.603)) ; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */}